Options All -Indexes

<Files .htaccess>
order allow,deny
deny from all
</Files>

<IfModule mod_rewrite.c>
  # Redirect to the public folder
  RewriteEngine On
  # RewriteBase /
  RewriteRule ^$ public/ [L]
  RewriteRule (.*) public/$1 [L]
  RewriteRule .* [env=HTTP_AUTHORIZATION:%{HTTP:AUTHORIZATION}]
# Redirect to HTTPS  
 RewriteEngine On
  RewriteCond %{HTTP:X-Forwarded-Proto} !https
   RewriteCond %{HTTPS} off
   RewriteRule ^(.*)$ https://%{127.0.0.1}%{webservice/} [L,R=301]
   RewriteCond %{index.php} !-d 
   RewriteCond %{index.php} !-f
   RewriteRule
</IfModule>
